.btn-contain {
  margin: 30px auto;
  min-height: 100px;
}
.btn-skew-contain {
  max-width: 270px;
  margin: 0 auto;
}
.btn-skew {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}
.btn-skew:after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  width: 0;
  bottom: 0;
  background: #f7f7f7;
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
  z-index: -1;
}
.btn-skew:hover {
  cursor: pointer;
}
.btn-skew:hover:after {
  width: 100%;
  left: 0;
}
.btn-skew:hover {
  color: black;
}
.btn-skew:hover:after {
  left: -10%;
  width: 120%;
}
