@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --white: #ffffff;
  --mattBlack: #141414;
  --navBoxShadow: 0 10px 20px 0 rgba(79, 35, 35, 0.08);
  --whiteBgTextColor: #333;
  --black: #000;
  --navAnim: q 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
  --maintransition: all 0.5s ease-in-out;
}
/* body {
  overflow: hidden;
} */

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  cursor: url(/src/assets/cursor.svg), auto;
}

/* NAV Bar */

nav {
  background-color: var(--black);
  box-shadow: var(--navBoxShadow);
  position: fixed;
  top: 0;
  width: 100%;
  transition: var(--maintransition);
  color: #fff;
  z-index: 50;
}

.sticky {
  padding: 10px;
}

.navMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 10px;
}

.customCursor {
  width: 30px;
  height: 30px;
  border: 1px solid #ffff;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  top: -100px;
  left: -100px;
  z-index: 100;
}

.navLinks a {
  margin: auto 10px;
  font-weight: 500;
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--maintransition);
}

.navLinks a {
  padding: 10px;
}

.trigger {
  margin-right: 10px;
  cursor: pointer;
}

.trigger span {
  margin-bottom: 5px;
  width: 18px;
  height: 2px;
  display: block;
  background-color: #ffff;
}

.trigger span:nth-child(2) {
  width: 24px;
}

.nav-hide {
  height: 0;
  overflow: hidden;
}

.animDelayFIx {
  padding-top: 50px !important;
}

.nav-show {
  height: 200px;
}

#tsparticles {
  background-color: var(--black);
  height: 100vh;
  /* position: ; */
}

.floatTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  margin-left: -50px;
  margin-top: -50px;
}

/* !! NAV Bar */

@media screen and (min-width: 700px) {
  .trigger {
    display: none;
  }
  .navLinks {
    height: auto !important;
  }
  .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navLinks {
    display: block !important;
  }
}
