@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --white: #ffffff;
  --mattBlack: #141414;
  --navBoxShadow: 0 10px 20px 0 rgba(79, 35, 35, 0.08);
  --whiteBgTextColor: #333;
  --black: #000;
  --navAnim: q 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
  --maintransition: all 0.5s ease-in-out;
  --goldenColor: #8d6f57;
  /* Use in background Tag */
  --BgGoldenGradient: linear-gradient(320deg, #1c1c1f, #d0ae9a);
  --BgSilverGradient: linear-gradient(320deg, #1c1c1f, #72757a);
  /* Use in background Tag */
}
body {
  overflow-x: hidden;
  background-color: var(--black);
  color: var(--white);
}

/* body::-webkit-scrollbar {
  display: none;
} */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  cursor: url(/src/assets/cursor.svg), auto;
}

/* NAV Bar */

nav {
  background-color: var(--black);
  box-shadow: var(--navBoxShadow);
  position: sticky;
  top: 0;
  width: 100%;
  transition: var(--maintransition);
  color: #fff;
  z-index: 50;
}

.sticky {
  padding: 10px;
}

.navMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 10px;
}

.logo a h2:hover {
  cursor: pointer;
}

.customCursor {
  width: 30px;
  height: 30px;
  border: 1px solid #ffff;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  top: -100px;
  left: -100px;
  z-index: 100;
}

.navLinks a {
  margin: 2px 10px;
  font-weight: 500;
}

.navLinks a:hover {
  cursor: pointer;
}

.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--maintransition);
  position: relative;
}

.navLinks a {
  padding: 10px;
}

.trigger {
  margin-right: 10px;
  cursor: pointer;
}

.trigger span {
  margin-bottom: 5px;
  width: 18px;
  height: 2px;
  display: block;
  background-color: #ffff;
}

.trigger span:nth-child(2) {
  width: 24px;
}

.nav-hide {
  height: 0;
  overflow: hidden;
}

.animDelayFIx {
  padding-top: 50px !important;
}

.nav-show {
  height: 200px;
}

#tsparticles {
  background-color: var(--black);
  height: calc(100vh - 49px);
  /* position: ; */
}

.floatTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  margin-left: -50px;
  margin-top: -50px;
}

/* Rolling Text */
.hidden {
  opacity: 0;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
/* !! Rolling Text */

/* !! NAV Bar */

/* About Page */

.introCOl h2 {
  padding: 20px;
}
.introCOl p {
  padding: 20px;
  font-weight: 500;
  text-align: justify;
}

.skills {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.underLine {
  width: 60px;
  height: 2px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
}

.text-center {
  text-align: center !important;
}

.aboutMEColorBx {
  background-color: white;
  color: black;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.aboutMEColorBx h3 {
  padding: 20px;
  text-align: center;
}
.aboutMEColorBx h4 {
  padding: 20px;
  padding-top: 10px;
  color: #7510f7;
}
.aboutMEColorBx p {
  padding: 5px;
  text-align: center;
}

.AboutIcon {
  color: #7510f7;
  font-size: 40px;
  margin-top: 30px;
}

/* Contact me Page */

.contactME .row {
  border: 1px dotted var(--goldenColor);
  margin-top: 30px;
}

.mainContactCol h3 {
  margin-top: 19px;
}

.mainContactCol {
  padding: 15px;
}
.contactTagP {
  padding: 15px 0;
  text-align: justify;
  margin-bottom: 20px;
  color: var(--goldenColor);
}

.contactCard {
  padding: 20px;
  background: var(--BgGoldenGradient);
  color: white;
  border-radius: 5px;
  margin: 20px auto;
}

.card2Silver {
  background: var(--BgSilverGradient);
}

.cardHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cardHead a {
  padding: 5px 20px;
  background-color: #5d5d5d;
  color: white;
  border: 1px solid #5d5d5d;
  border-radius: 5px;
  font-weight: 550;
  cursor: pointer;
}

.contactCol2 {
  border-left: 1px dotted var(--goldenColor);
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.contactIcon {
  margin-bottom: -3px;
}

.contactCol2head {
  padding: 15px;
}

/* !! Contact me Page */

/* Works Page */

.worksPage h2 {
  padding: 30px;
  padding-bottom: 40px;
}

.workPgCard {
  margin-bottom: 30px;
}

.cardImg img {
  max-width: 100%;
}

.workPgCardContent {
  padding: 15px;
  background: var(--BgGoldenGradient);
}
.workPgCardContent p {
  text-align: justify;
  margin-bottom: 20px;
}

.stacktags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.workPgCardContent span {
  background-color: #5d5d5d;
  padding: 6px 6px;
  margin: 5px 5px;
}

.externalLink {
  display: grid;
  place-items: center;
  background-color: black !important;
  margin: 0 auto !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transform: translateY(-45px);
  border: 5px solid black;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.externalLink {
  margin-top: 10px;
}

.voxforem {
  color: rgb(0, 96, 221);
}

/* !! Works Page */

@media screen and (min-width: 700px) {
  .trigger {
    display: none;
  }
  .navLinks {
    height: auto !important;
  }
  .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navLinks {
    display: block !important;
  }

  .submenu {
    top: 40px;
    left: 67%;
    z-index: 3;
    padding: 20px;
    position: absolute;
    display: none;
  }

  .submenuShow {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .customCursor {
    display: none;
  }
  .floatTxt {
    left: 20%;
  }

  .contactCol2 {
    border: 0;
  }
  .contactME .row {
    border: 0;
  }
}
